.results{
  width:95%;
  height:90%;
  padding:1em;
  z-index: 4000;
  position: absolute;
  top:2em;
  left:2em;
  border:#EBEBEB solid 1px;
  background:#2B3E50;
}

.results .header{
  text-align: right;
}

.results .body{
  height:90%;
  overflow:auto;
}